.song-form {
  max-width: 1024px;
  margin: $s-size auto;
  width: 100%;
}

.form-title {
  margin: 0 1rem !important;
}

.form-artist {
  margin: 0 1rem !important;
}

.form-url {
  margin: 0 1rem !important;
  width: 40%;
}

.add-new-song {
  margin: 0.5rem 1rem !important;
}