.song-form {
  justify-content: space-between;
  max-width: 1024px;
  margin: 20px auto;
}

.form-title {
  width: 20%;
  margin: 0 10px !important;
}

.form-artist {
  width: 20%;
  margin: 0 10px !important;
}

.form-url {
  margin: 0 10px !important;
  width: 40%;
}

.add-new-song {
  margin: 10px 10px !important;
}