html,
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: rgba(0, 0, 0, 0.87) !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.main-container {
  margin: 1rem 1rem 1rem 1rem;
}

.not-found {
  width: 50%;
  margin: auto;
  text-align: center;
}
